* {
    margin: 0;
    padding: 0;
}

.calculator {
    width: 400px;
    box-shadow: 0px 0px 20px 0px #aaaaaa;
}

.display {
    width: 360px;
    padding: 12px 20px;
    text-align: right;
    border: none;
    font-size: 1.5em;
}

.preview {
    color: #6b6b6b;
    border-bottom: solid 1px #d3d3d3;
    font-size: 1.2em;
}

.input-wrap {
    display: flex;
}

.operations, .handlers {
    display: flex;
    flex-direction: column;
}

.operator, .handler {
    color: #5064d4;
}

.handlers {
    justify-content: space-between;
}

.operator {
    border-left: solid 1px #d3d3d3 !important;
}

.btn {
    width: 80px;
    height: 80px;
    text-align: center;
    border: none;
    background-color: #ffffff;
    font-size: 1.2em;
}

.btn:hover {
    background-color: #d3d3d3;
}

.dot {
    width: 160px;
}

.digits {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    width: 240px;
}